html,body {
  height: 100%;
  overflow-y: hidden;
}

a {
  color: inherit;
}

p {
  margin: 10px 100px 50px 100px;
}

body {
  text-align: center;
  font-family: "Roboto Slab";
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* The important bit */
body.night-mode {
  background-color: #000;
  color: #fff;
}
