header a {
    display: inline-block;
    width: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.social {
    text-align: right;
    padding-right: 1%;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
}


.content {
    margin: auto;
    width: 100%;
    color: #000;
    transition: 0.5s;
}

.avatar {
    display: block;

    margin-right: auto;
    width: 100%;
  }
