body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
}
body.night
{
    background: #000000;
    color: white
}
.toggle
{
   
    top: 40px;
    right: 50px;
    background: #fff;
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #00151f;
    border: 2px solid #fff;
}
.toggle:before
{
    content: '';
    
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}
.content
{
    margin: 150px auto;
    width: 1000px;
}
.content h1
{
    margin: 0 0 20px;
    padding: 0;
    color: #000;
    transition: 0.5s;
}
.content p
{
    margin: 0;
    padding: 0;
    color: #000;
    transition: 0.5s;
    font-size: 18px;
}
body.night .content h1,
body.night .content p
{
    color: #fff;
}



#social #socialcontainer {
  position: relative;
  text-align: left;

}

#social #socialcontainer ul {
  
  text-align: left;
}

#social #socialcontainer ul li {
  float: right;
  padding-left: 10px;
  list-style-type: none;
  text-align: left;
}




#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    text-align: center;
    line-height: 300px;
  }
  